* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

li {
  padding: 8px;
}

li:nth-child(odd) {
  background-color: lightgrey;
}

body {
  padding: 16px;
}

main {
  display: flex;
  gap: 100px;
  padding: 40px;
}

.mb-20 {
  margin-bottom: 20px;
}

.scores-section {
  width: 30%;
}

.scores-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-button,
.score-input {
  padding: 8px 16px;
}

.action-button {
  align-self: flex-end;
}

.add-score-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
